#subjectList {
	margin: 0;
	padding: 0;
	text-align: center;
}

#subjectList .item3 {
	color: white;
}

#subjectList .item3 h3{
	margin: 0;
}

#subjectList li{
	background: blue;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 0 10px #333;
	color: #79FF1F;
	display: inline-block;
	list-style-typ: none;
	margin: 5px 10px;
	padding: 5px 40px;
	text-align: center;
	width: 10%;
}

#subjectList li ul li {
	background: gray;
}

body {
	background-color: purple;
	background-image: url(http://images.freeimages.com/images/previews/d3c/hubble-1632627.jpg);
	background-size: cover;
	color: white;
	margin: 0;
}
body header {
	background: black;
	margin: 0;
	padding: 10px;
}

body header h1{
	margin: 0;
}