$header-text-color: grey
$box-background-color: white
$color-orange: #ff6600
$color-orange-pressed: #ffc299

=border-radius($radius)
  -webkit-border-radius: $radius
  border-radius: $radius

=border-bottom-radius($radius)
  -webkit-border-bottom-left-radius: $radius
  border-bottom-left-radius: $radius
  -webkit-border-bottom-right-radius: $radius
  border-bottom-right-radius: $radius

=border-top-radius($radius)
  -webkit-border-top-left-radius: $radius
  border-top-left-radius: $radius
  -webkit-border-top-right-radius: $radius
  border-top-right-radius: $radius

body
  background-color: purple