#subjectList {
	margin: 0;
}
#subjectList li{
	background: blue;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 0 0 20px #111;
	color: #79FF1F;
	display: inline-block;
	list-style-typ: none;
	margin: 0 1%;
	padding: 20px 0px;
	text-align: center;
	width: 22%;
}

body {
	background: #A51FFF;
	color: #FF351F;
	margin: 0;
}
body header {
	background: black;
	margin: 0;
	padding: 10px;
}

body header h1{
	margin: 0;
}